/*MENÚ*/

.menu{
	background-color: white;
	width: 100%;
	height: 100px;
	padding-top: 3%;
}

/* Sección 1 */

.imfondo{
	background-image: url(../img/taxi.jpg);
	width: 100%;
	height: 110vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Formulario */
.formulario{
	background-color: #f7b617;
	color: white;
}

.formularioCaja{
	padding-left: 10%;
	height: 330px;
	padding-top: 3%;
}

.form2{
	padding-top: 20%;
}

/*Inputs*/

.linea{
	border-bottom: 1px solid white;
	width: 120px;
}

input{
	background: none; 
	border: none; 
	outline: 0;
}

.textForm{
	display: inline-block;
}

/* Botón */
.btnNegri{
	font-weight: bold;
	border: 1px solid #FFBE00;
	border-radius: 8px;
}

/*Sección 2*/

.fondoSec2{
	background-color: #f7b617;
	color: white;
	width: 100%;
	height: 90vh;
	padding: 2.5%;
	padding-left: 10%;
}

.borde2{
	border: 1px solid white;
	width: 90%;
	height: 80vh;
	padding: 6%;
}

.tituloSec2{
	font-weight: bold;
	padding-bottom: 2%;
	font-size: 30px;
}

.parrafo2{
	padding-top: 2%;
	padding-right: 19%;
	font-size: 20px;
}

/* Sección 3 */
.imFondo3{
	background-image: url(../img/conduce.jpg);
	width: 100%;
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cajaSec3{
	padding-left: 10%;
}

.cajita3{
	background-color: rgba(8, 2, 14, 0.5);
	height: 300px;
	color: white;
	padding-left: 5%;
	padding-top: 5%;
	font-size: 20px;
	padding-right: 10%;
}

.btnAmarillo{
	border: 1px solid #f7b617;
	border-radius: 8px;
	background-color: #f7b617;
}

/*Sección 4*/

.fondoSec4{
	background-color: #f7b617;
	color: white;
	width: 100%;
	height: 90vh;
	padding-top: 5.3%;
}

.caja4Text{
	padding-top: 7%;
}

.linea4{
	border: 1px solid white;
	width: 300px;
	margin-left: 2%;
}

.espacio4{
	padding-top: 5%;
}

/*Cambios en placeholder*/
input::-webkit-input-placeholder {
  	color: white;
  	text-align: left;
}



/*Botón*/
.btnSec4{
	font-weight: bold;
	border: 1px solid #FFBE00;
	margin-top: 3%;
	margin-left: 19%;
}

.btnSec4:hover{
	background-color: #f7b617;
	border: 1px solid white;
}

/*MAPA*/
#map{
	height: 440px;
	width: 500px;
	border: 2px solid white;
	border-top-width: 10px;
	border-left-width: 10px;
	border-bottom-width: 10px;
	border-right-width: 10px;
}

/*Sección Footer*/

.fondColors{
	background-color: #2b2b2b;
	padding: 5%;
}

.lineaHR{
	width: 98%;
	height: 2px;
}

/*Iconos*/
.iconini{
	color: white;
}

.link{
	color: white;
}

/*Fotos Footer*/
.fotFooter{
	width: 50%;
}

.iconini{
	margin-top: 60%;
	margin-left: 5%;
}

.topFoto{
	margin-top: 8%;
}

/*Final Text*/
.textUltimo{
	color: white;

}